{% extends "layouts/app.html.twig" %}

{% block title %}{{ t('pages.trip.create.title') }}{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        <h1 class="text-center">{{ t('pages.trip.create.heading') }}</h1>
        <div class="trip-create-container col-md-offset-3 col-md-6">
            <form action="{{ route('trip.create.submit') }}" method="post" class="form-horizontal">
                <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                <div class="form-group">
                    <label class="control-label" for="trip_title">{{ t('pages.trip.create.trip-title') }}</label>
                    <textarea rows="3" class="form-control" name="trip_title" id="trip_title"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="trip_image">{{ t('pages.trip.create.trip-image-upload') }}</label>
                    <input class="form-control" type="file" name="trip_image" id="trip_image">
                </div>
                <div class="form-group">
                    <label class="control-label" for="trip_image">{{ t('pages.trip.create.trip-image-select') }}</label>
                    <button class="btn btn-default form-control">Select</button>
                </div>
                <div class="form-group">
                    <input class="hidden-xs hidden-sm btn btn-primary" type="submit" value="{{ t('pages.trip.create.submit') }}">
                    <input class="visible-xs visible-sm form-control btn btn-primary" type="submit" value="{{ t('pages.trip.create.submit') }}">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}