{% extends "layouts/trip.html.twig" %}

{% block title %}{{ t('pages.trip.edit.title') }}{% endblock %}

{% block content %}

    <section class="container-section">
        <div class="container">
            <h1 class="text-center">{{ t('pages.trip.edit.heading') }}</h1>
            <div class="trip-create-container col-md-offset-3 col-md-6">
                <form action="{{ routeTrip('edit.submit', trip.id) }}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label class="control-label" for="trip_title">{{ t('pages.trip.edit.trip-title') }}</label>
                        <input type="text" class="form-control" value="{{ trip.title }}" name="trip_title" id="trip_title">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="trip_image">{{ t('pages.trip.edit.trip-image') }} - {{ t('pages.trip.edit.trip-image-help') }}</label>
                        <input type="file" name="trip_image" id="trip_image" class="form-control">
                    </div>
                    <!-- Start date -->
                    <div class="form-group">
                        <input class="hidden-xs hidden-sm btn btn-primary" type="submit" value="{{ t('pages.trip.edit.submit') }}">
                        <input class="visible-xs visible-sm form-control btn btn-primary" type="submit" value="{{ t('pages.trip.edit.submit') }}">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}