{% extends "layouts/app.html.twig" %}

{% block title %}{{ t('pages.trip.dashboard.title') }}{% endblock %}

{% block content %}

<section class="container-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 trip-controls">
                <div class="trip-add-container">
                    <a href="{{ route('trip.create') }}" class="btn btn-default btn-block trip-add">{{ t('pages.trip.dashboard.hatch-trip') }}</a>
                </div>
            </div>
            {% if trips is defined %}
                {% for trip in trips %}
                    <div class="col-sm-6 col-md-4 trip-card-container">
                        <div class="trip-card">
                            <div class="trip-image-container">
                                <img src="images/trip-cards/{{ trip.path }}" class="trip-image img-responsive" alt="{{ trip.description }}">
                            </div>
                            <div class="trip-text">
                                <a href="{{ routeTrip('show', trip.id) }}">
                                    <h3>{{ trip.title }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}