{% extends "layouts/app.html.twig" %}

{% block title %}{{ t('pages.trip.show.title') }}{% endblock %}

{% block content %}

<!-- if permissions > normal user (organiser or owner) -->
<nav class="trip-navigation">
    <div class="container">
        <ul class="links-left">
            <!-- TODO: ajax add as last day -->
            <li><a href="#"><i class="fa fa-plus"></i> {{ t('layout.trip.add-day') }}</a></li>

            <!-- TODO: another page prob -->
            <li><a href="#"><i class="fa fa-users"></i> {{ t('layout.trip.manage-people') }}</a></li>

            <!-- if permissions == owner -->
            <li><a href="#"><i class="fa fa-wrench"></i> {{ t('layout.trip.manage-staff') }}</a></li>
        </ul>
        <ul class="links-right">
            <!-- TODO: edit trip stuff, another page prob -->
            <li><a href="{{ routeTrip('trip.edit', trip.id) }}"><i class="fa fa-pencil"></i> {{ t('layout.trip.edit') }}</a></li>

            <!-- TODO: confirm prompt, then redirect to dashboard -->
            <li><a href="#"><i class="fa fa-trash"></i> {{ t('layout.trip.archive') }}</a></li>
        </ul>
    </div>
</nav>

<section class="container-section">
    <div class="container">
        <h1 class="text-center trip-title">{{ trip.title }}</h1>
        <div class="trip-days-container">
            {% for day in days %}
                <div class="trip-day-container col-xs-12">
                    <div class="trip-day">
                        <div class="trip-day-head" data-toggle="collapse" data-target="#day{{ day.id }}">
                            <img src="/images/thumbnails/{{ day.path }}" class="img-responsive trip-day-thumbnail" alt="{{ day.description }}">
                            <a data-trip-id="{{ trip.id }}" data-day-id="{{ day.id }}" class="day-delete-btn non-collapse">
                                <i data-trip-id="{{ trip.id }}" data-day-id="{{ day.id }}" class="fa fa-remove non-collapse"></i>
                            </a>
                            <a data-trip-id="{{ trip.id }}" data-day-id="{{ day.id }}" class="day-edit-btn non-collapse">
                                <i data-trip-id="{{ trip.id }}" data-day-id="{{ day.id }}" class="fa fa-pencil non-collapse"></i>
                            </a>
                            <h2>{{ day.title }}</h2>
                        </div>
                        <div id="day{{ day.id }}" class="trip-day-body-container collapse">
                            <div class="trip-day-body"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}