<!DOCTYPE html>
<html class="no-footer">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ t('pages.landing.title') }}</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body class="no-footer">
        <script src="/js/app.js"></script>
        <section class="full-height-section hero-image">
            <div class="hero-text">
                <h1 class="text-center">{{ t('pages.landing.welcome') }}</h1>
            </div>
            <div class="back-to-top-button-container">
                <button type="button" data-scroll-target="0" class="back-to-top">{{ t('pages.landing.back-to-top') }} <i class="fa fa-chevron-up"></i></button>
            </div>
            <div class="scroll-down-container">
                <a class="scroll-down" data-scroll-target="1"><i class="fa fa-2x fa-chevron-down"></i></a>
            </div>
            <div class="login-button-container">
                <a href="{{ route('login') }}">{{ t('pages.landing.login') }} <i class="fa fa-user"></i></a>
            </div>
        </section>
        <section class="full-height-section">
            <div class="hero-container">
                <div class="hero-wrapper">
                    <div class="col-sm-5 page-preview">
                        <img class="img img-responsive" src="/images/page-preview.jpg" alt="page preview on mobile and PC" title="page preview">
                    </div>
                    <div class="col-sm-7 page-info">
                        <div class="page-info-text">
                            <p>
                                {{ t('pages.landing.page-info') }}
                            </p>
                        </div>
                        <div class="page-award">
                            <div class="text-right col-xs-3 page-award-trophy">
                                <i class="fa fa-4x fa-trophy"></i>
                            </div>
                            <div class="text-left col-xs-9 page-award-text">
                                <p>{{ t('pages.landing.award-text') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-down-container">
                <a class="scroll-down" data-scroll-target="2"><i class="fa fa-2x fa-chevron-down"></i></a>
            </div>
        </section>
        <section class="full-height-section">
            <div class="hero-container">
                <div class="hero-wrapper">
                    <div class="page-user col-sm-4">
                        <div class="page-user-portrait">
                            <img class="img img-circle img-responsive" src="/images/thumbnails/avatar-default.jpg" title="Avatar" alt="user avatar">
                        </div>
                        <div class="page-user-name">
                            <p>John Doe</p>
                        </div>
                        <div class="page-user-comment">
                            <p>Lorem ipsum dolor amet, lorem ipsum dolor amet</p>
                        </div>
                    </div>
                    <div class="page-user col-sm-4">
                        <div class="page-user-portrait">
                            <img class="img img-circle img-responsive" src="/images/thumbnails/avatar-default.jpg" title="Avatar" alt="user avatar">
                        </div>
                        <div class="page-user-name">
                            <p>John Doe</p>
                        </div>
                        <div class="page-user-comment">
                            <p>Lorem ipsum dolor amet, lorem ipsum dolor amet</p>
                        </div>
                    </div>
                    <div class="page-user col-sm-4">
                        <div class="page-user-portrait">
                            <img class="img img-circle img-responsive" src="/images/thumbnails/avatar-default.jpg" title="Avatar" alt="user avatar">
                        </div>
                        <div class="page-user-name">
                            <p>John Doe</p>
                        </div>
                        <div class="page-user-comment">
                            <p>Lorem ipsum dolor amet, lorem ipsum dolor amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>