{% extends "layouts/app.html.twig" %}

{% block title %}{{ t('pages.login.title') }}{% endblock %}

{% block content %}

    {% if validation_errors is not empty %}
        <h1>validation errors</h1>
    {% endif %}

    <section class="container-section">
        <div class="container">
            <div class="login-container col-md-offset-1 col-md-4">
                <h2 class="text-center">{{ t('pages.login.login-heading') }}</h2>
                <form action="{{ route('login.submit') }}" method="post" class="form-horizontal">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label class="control-label" for="login_email">{{ t('pages.login.email') }}</label>
                        <input class="form-control" type="email" name="login_email" id="login_email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="login_password">{{ t('pages.login.password') }}</label>
                        <input class="form-control" type="password" name="login_password" id="login_password">
                    </div>
                    <div class="form-group">
                        <a href="{{ route('forgotten-password') }}">{{ t('pages.login.forgotten-password.link') }}</a>
                    </div>
                    <div class="form-group">
                        <input class="hidden-xs hidden-sm btn btn-primary" type="submit" value="{{ t('pages.login.login-submit') }}">
                        <input class="visible-xs visible-sm form-control btn btn-primary" type="submit" value="{{ t('pages.login.login-submit') }}">
                    </div>
                </form>
            </div>
            <div class="login-container col-md-offset-2 col-md-4">
                <h2 class="text-center">{{ t('pages.login.register-heading') }}</h2>
                <form action="{{ route('register.submit') }}" method="post" class="form-horizontal">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <div class="form-group">
                        <label class="control-label" for="register_email">{{ t('pages.login.email') }}</label>
                        <input class="form-control" type="email" name="register_email" id="register_email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="register_password">{{ t('pages.login.password') }}</label>
                        <input class="form-control" type="password" name="register_password" id="register_password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="register_password_repeat">{{ t('pages.login.password-again') }}</label>
                        <input class="form-control" type="password" name="register_password_confirm" id="register_password_repeat">
                    </div>
                    <div class="form-group">
                        <input class="hidden-xs hidden-sm btn btn-primary" type="submit" value="{{ t('pages.login.register-submit') }}">
                        <input class="visible-xs visible-sm form-control btn btn-primary" type="submit" value="{{ t('pages.login.register-submit') }}">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}