{% extends "layouts/error.html.twig" %}

{% block title %}{{ t('error.404.title') }}{% endblock %}

{% block content %}

    <h1 class="text-center">{{ t('error.404.heading') }}</h1>
    <p class="text-center">{% if message %}{{ message }}{% else %}{{ t('error.404.message') }}{% endif %}</p>
    <p class="text-center">{{ t('error.404.link.text') }} <a href="/">{{ t('error.404.link.content') }}</a></p>

{% endblock %}
