<div id="day-container-{{ day.id }}" data-order="{{ day.order }}" class="trip-day-container col-xs-12">
    <div class="trip-day">
        <div class="trip-day-head" data-ajax-url="{{ routeTripDay('actions', trip.id, day.id) }}" data-target="#day{{ day.id }}">
            <img src="/images/thumbnails/{{ day.path }}" class="img-responsive trip-day-thumbnail" alt="{{ day.description }}">

            {% if isOrganiser %}
                <a href="#" data-ajax-url="{{ routeTripDay('delete', trip.id, day.id) }}" class="day-delete-btn non-collapse">
                    <i class="fa fa-remove non-collapse"></i>
                </a>
                <a href="#" role="button" data-ajax-url="{{ routeTripDay('edit', trip.id, day.id) }}" class="day-edit-modal-btn non-collapse">
                    <i class="fa fa-pencil non-collapse"></i>
                </a>
            {% endif %}

            <h2>{{ day.title }}</h2>
        </div>
        <div id="day{{ day.id }}" class="trip-day-body-container collapse">
            <div class="trip-day-body"></div>
        </div>
    </div>
</div>